@charset "UTF-8";

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.q6_img_box {
  width: 300px;
  height: 200px;
  float: left;
  position: relative;
  overflow: hidden;
}

.q6_img {
  width: 100%;
  height: 100%;
  position: absolute;
  display: inline-block;
  text-align: center;
}

.q6_img_large {
  transition: 0.5s all;
}

.q6_img_large:hover{
  transform: scale(1.5,1.5);
  transition: 0.5s all;
  /* overflow: hidden; */
  /* opacity: 1; */
  /* bottom: -100%; */
  /* background: rgba(0, 0, 0, 0.8) */
}

.q6_img_text {
  position: relative;
  color: #fff;
  bottom: 0;
}

/* figcaption.hover-mask {
  opacity: 1;
  transition:all 0.6s ease;
  bottom: -100%;
  background: rgba(0, 0, 0, 0.8)
  } */
  /* figure.hover-parent:hover .hover-mask {
  bottom: 0;
  } */

.q6-2_animation {
  width: 960px;
  height: 500px;
  margin: auto;
  padding: 90px;
}

.q6-2_animation p {
  height: 100%;
  font-size: 200px;
  display: inline-block;
}

.q6-2_animation_text{
  /* animation: loop 10s linear infinite; */
  animation-iteration-count:infinite;
  animation-delay: 10s;
  animation-direction: normal;
}
/* q6が終わったら
q7のcssはq7フォルダの中のcssファイルに記述してください */