@charset "UTF-8";

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.q6_img_box {
  width: 300px;
  height: 200px;
  float: left;
  position: relative;
  overflow: hidden;
  margin: 50px;
}

.q6_img {
  max-width: 300px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.q6_1 {
  display: flex;
  justify-content: center;
}

.q6_img_large {
  transition: 0.5s all;
}

.q6_img_large img:hover {
  transition: 0.5s all;
  transform: scale(1.5,1.5);
}

.q6_text p {
  position: absolute;
  color: #fff;
  bottom: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.q6_text_slide img:hover {
  transition: 0.5s all;
  background: rgba(0, 0, 0, 0.8);
}

.q6-2_animation {
  width: 960px;
  height: 500px;
  padding: 90px;
}

.q6-2_animation p {
  font-size: 200px;
  display: inline-block;
}

.q6-2_animation_text{
  animation-iteration-count:infinite;
  animation-delay: 10s;
  animation-direction: normal;
}
/* q6が終わったら
q7のcssはq7フォルダの中のcssファイルに記述してください */